<a href="https://colab.research.google.com/github/James606240/NTUT_Test/blob/main/Chartify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://leemeng.tw/chartify-a-simple-yet-powerful-python-data-visualization-tool-which-boost-your-productivity-as-a-data-scientist.html

In [ ]:
!pip install -q chartify
import pandas as pd
import chartify

     |████████████████████████████████| 71kB 3.9MB/s
     |████████████████████████████████| 122kB 7.2MB/s
     |████████████████████████████████| 942kB 9.7MB/s
     |████████████████████████████████| 788kB 17.7MB/s
     |████████████████████████████████| 645kB 25.4MB/s
     |████████████████████████████████| 368kB 18.4MB/s
ERROR: jupyter-console 5.2.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 3.0.18 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipykernel~=4.10, but you'll have ipykernel 5.5.3 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipython~=5.5.0, but you'll have ipython 7.23.0 which is incompatible.

In [ ]:
df = chartify.examples.example_data()
df.head()

        date country   fruit  unit_price  quantity  total_price
0 2017-10-21      US  Banana    0.303711         4     1.214846
1 2017-05-30      JP  Banana    0.254109         4     1.016436
2 2017-05-21      CA  Banana    0.268635         4     1.074539
3 2017-09-18      BR   Grape    2.215277         2     4.430554
4 2017-12-08      US  Banana    0.308337         5     1.541687

In [ ]:
ch=chartify.Chart()
ch.plot.scatter(data_frame=df, x_column='unit_price', y_column='total_price')
ch.show()

NameError: ignored

In [ ]:
df.pivot_table(
    values=['unit_price'], 
    index='country', 
    columns=['fruit'])

In [ ]:
ch = chartify.Chart()
ch.plot.scatter(
    data_frame=df, 
    x_column='unit_price', 
    y_column='total_price'
)
ch.show('png')